@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&display=swap');

body, input, select, button {
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
}

body {
    font-family: Inter, sans-serif;
    color: #5c5f62;
    transition: background 0.3s, color 0.3s;
    height: 2000px;
}

.darkThemeBody {
    background: #0d1213;
    color: #d7d7db;
    transition: background 0.3s, color 0.3s;
}

.darkTheme,
.whiteTheme {
    transition: opacity 0.3s;
}

.darkTheme {
    opacity: 0;
    position: absolute;
}

button {
    border: none;
    background: none;
    display: flex;
}

